{% load static %}

 {% comment %} Sidenav {% endcomment %}
 
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="{% static './img/brand/logo-4.png'%}" style="height:400px; width:200px" class="navbar-brand-img" alt="...">
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'expenses' %}">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'expenses' %}">
                <i class="fas fa-money-check-alt"></i>
                <span class="nav-link-text">Expenses</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'income' %}">
                <i class="ni ni-money-coins"></i>
                <span class="nav-link-text">Income</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="profile.html">
                <i class="ni ni-chart-bar-32 text-yellow"></i>
                <span class="nav-link-text">Summary</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'stats' %}">
                <i class="ni ni-money-coins text-default"></i>
                <span class="nav-link-text">Expenses Summary</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ni ni-money-coins text-info"></i>
                <span class="nav-link-text">Income Summary</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="">
                <i class="ni ni-settings text-pink"></i>
                <span class="nav-link-text">Settings</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'preference' %}">
                <i class="ni ni-settings-gear-65 text-dark"></i>
                <span class="nav-link-text">General Settings</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ni ni-settings-gear-65 text-dark"></i>
                <span class="nav-link-text">Account Settings</span>
              </a>
            </li>
          </ul>
          <!-- Divider -->
          <hr class="my-3">
        </div>
      </div>
    </div>
  </nav>