{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    {% include 'partials/_message.html' %}
    <h5>Preferred Currency</h5>
    <form action="{% url 'preference' %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
            <select class="form-select" name = "currency" id="inputGroupSelect04" aria-label="Example select with button addon">
              {% if userpreferences.currency %}
              <option name = "currency" selected>{{userpreferences.currency}}</option>
              {% endif %}
                
              {% for currency in currencies %}
              <option name = "currency" value = "{{currency.value}}">{{currency.name}} - {{currency.value}}</option>
              {% endfor %}
            </select>
            <input class="btn btn-outline-secondary" type="submit" value="Save">
          </div>
        </form>

</div>

{% endblock %}