{% extends 'base.html' %}
{% block content %}
<h2 class="mt-3"> Edit Income </h2>
<div class="container mt-4">
  <div class="row">
    <!-- Breadcrum -->
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'income' %}">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit Income</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-2">
        <a href="{% url 'delete-income' income.id %}" class="btn btn-danger btn-sm">Delete</a>
    </div>
  </div>
</div>


<div class="card" style="width: 45rem;">
    <div class="card-body">
      <form action="{% url 'edit-income' income.id %}" method="post">
        <div class="mt-2">
          {% include 'partials/_message.html' %}
        </div>
        <!-- {% include 'partials/_message.html' %} -->

        {% csrf_token %}
        <div class="mb-3">
          <label  class="form-label">Amount</label>
          <input type="number" class="form-control" name = "amount" value="{{values.amount}}"  placeholder="Enter Amount">
        </div>

        <div class="mb-3">
          <label  class="form-label">Description </label>
          <input type="text" class="form-control" name="description" value="{{values.description}}"  placeholder="Enter Description">
        </div>

        <div class="mb-3">
          <label  class="form-label">Source </label>
          <select class="form-select" name = "source" aria-label="Default select example">
            <option value="{{values.source}}" selected>{{values.source}}</option>
            {% for source in sources %}
            <option value="{{source.name}}" name = "source">{{source.name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <label  class="form-label">Date</label>
          <input type="date" class="form-control" name = "date" value="{{values.date | date:'Y-m-d'}}" >
        </div>
        <input type="submit" class="btn btn-primary" value="Save Expense">

      </form>

    </div>
  </div>


{% endblock %}