{% extends 'base.html' %}
{% load static %}

{%  block content %}


    <div class="container">
        <div class ='mt-3'>
            {% include 'partials/_message.html' %}
        </div>

        {% if income.count %}
        <div class="row mb-1">
            <div class="col-md-7">
                <a href="{% url 'add-income' %}" class="btn btn-primary">Add Income</a>
            </div>
            <div class="col-md-5">
                <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                    <div class="form-group mb-2">
                        <div class="input-group input-group-alternative input-group-merge">
                            <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input type="text" name ="search" id = "search" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </form>
            </div>
        </div>
        
        <div class="app-table">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Amount ({{currency}})</th>
                        <th>Source</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for income in page_obj %}
                    <tr>
                        <td>{{income.amount}}</td>
                        <td>{{income.source}}</td>
                        <td>{{income.description}}</td>
                        <td>{{income.date}}</td>
                        <td><a href = "{% url 'edit-income' income.id %}" class="btn btn-secondary btn-sm"> Edit </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <p class="no-results" style="display: none;">No results </p>
        <div class="table-output">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Amount ({{currency}}) </th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody class="tbody"> </tbody>
            </table>
        </div>

        <div class="pagination-container">
            <div class="mt-4">
              Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
            </div>
            <div >
                <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                    <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                    {% endif %}
                  </ul>
            </div>
        </div>
        {%else%}

         <div class="row mb-1">
            <div class="col-md-7">
                <a href="{% url 'add-income' %}" class="btn btn-primary">Add Income</a>
            </div>
            <div class="col-md-5">
                <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                    <div class="form-group mb-2">
                        <div class="input-group input-group-alternative input-group-merge">
                            <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input type="text" name ="search" id = "search" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </form>
            </div>
        </div>
        {% endif %}
        
    </div>

</div>
<script src="{% static './js/search-income.js' %}"></script>
{% endblock %}