{% extends 'base.html' %}
{% block content %}

<div class="card " style="width: 50rem; margin-left:100px; margin-top:50px;">
  <div class="card-body">
    <h1 class="card-title text-center"> <b>Add Expenses </b></h1>
     <form action="{% url 'add-expenses' %}" method="post">
        <div class="mt-2">
          {% include 'partials/_message.html' %}
        </div>
        <!-- {% include 'partials/_message.html' %} -->

        {% csrf_token %}
        <div class="mb-3">
        <label  class="form-label">Amount</label>
          <input type="number" class="form-control" name = "amount" value="{{values.amount}}"  placeholder="Enter Amount">
        </div>

        <div class="mb-3">
          <label  class="form-label">Description </label>
          <input type="text" class="form-control" name="description" value="{{values.description}}"  placeholder="Enter Description">
        </div>


        <div class="mb-3">
          <label  class="form-label">Categories </label>
          <select class="form-control" name = "category" aria-label="Default select example">

            <option value="{{values.category}}" selected>{{values.category}}</option>
            {% for category in categories %}
            <option value="{{category.name}}" name = "category">{{category.name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <label  class="form-label">Date</label>
          <input type="date" class="form-control" name = "date" value="{{values.date}}">
        </div>
        <input type="submit" class="btn btn-primary" value="Add Expense">

      
      </form>
  </div>
</div>

{% endblock %}