{% extends 'base.html' %}
{% load static %}

{%  block content %}


{% comment %} <div class="mt-4">
    <canvas id="myChart" width="200" height="100"></canvas>
</div> {% endcomment %}

<div class="card" style="width: 25rem; height:25rem; margin-left:10px; margin-top:10px;">
    <div class="card-body">
        <h3 class="card-title text-center">Expense Per Category</h3>
        <div class="chart center" style="height:300px; width:300px;">
            <!-- Chart wrapper -->
            <canvas id="myChart" class="chart-canvas"></canvas>
        </div>
    </div>
</div>
 



<script src="{% static './js/stats.js' %}"></script>
{% endblock %}