{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="card bg-light">
    <article class="card-body mx-auto" style="width: 500px;">
        <h2 class="card-title mt-3 text-center">Login</h2>
        <p class="text-center">Login to Access your Account </p>
        
        <form method= "POST" action="{% url 'login' %}">
            {% csrf_token %}
            {% include 'partials/_message.html' %}


            <div class="form-group input-group"> <!-- form-group-Username // -->
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="username" id = "username" class="form-control" placeholder="Username" type="text" value="{{fieldValues.username}}">
            </div> <!-- form-group-Username // -->
            <div class="invalid_feedback invalid-feedback" style="display: none;"> </div>
            <p class="text-sm text-success usernameSuccessOutput"></p>


             <!-- form-group-Password // -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name = "password" id = "password" class="form-control" placeholder="Password" type="password" >
            </div> <!-- form-group-Password // -->

            <br>
            <div class="form-group py-3">
                <input type="submit" value="Login" class ="btn btn-block btn-primary submit-btn">
            </div> <!-- form-group-Submit-Button // --> 

            <p class="text-center">Don't Have an account? <a href="{% url 'register' %}">Register </a> </p>  
            <p class="text-center">Forget Password <a href="{% url 'reset-password' %}">Reset Password </a> </p>                                                               
        </form>
    </article>
</div> <!-- card.// -->
<script src="{%static 'js/register.js' %}"></script>
{% endblock %}