{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="card bg-light">
    <article class="card-body mx-auto" style="width: 500px;">
        <h2 class="card-title mt-3 text-center">Create Account</h2>
        <p class="text-center">Get started with your free account</p>
        <form method= "POST" action="">

            <div class="form-group input-group"> <!-- form-group-Username // -->
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="username" id = "username" class="form-control" placeholder="UserName" type="text">
            </div> <!-- form-group-Username // -->
            <div class="invalid_feedback invalid-feedback" style="display: none;"> </div>
            <p class="text-sm text-success usernameSuccessOutput"></p>


            <!-- form-group-Email // -->
            <div class="form-group input-group"> 
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="email" class="form-control" placeholder="Email Address" id ="email" type="email">
            </div> <!-- form-group-Email // -->
            <div class="invalid_emailFeedBack invalid-feedback" style="display: none;"> </div>
            <p class="text-sm text-success emailSuccessOutput"></p>

             <!-- form-group-Password // -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name = "password" id = "password" class="form-control" placeholder="Create password" type="password" >
            </div> <!-- form-group-Password // -->
            <small class="float-right showPasswordToggle ">SHOW PASSWORD</small>

            <br>
            <div class="form-group py-3">
                <input type="submit" value="Register" class ="btn btn-block btn-primary">
            </div> <!-- form-group-Submit-Button // --> 

            <p class="text-center">Have an account? <a href="">Log In</a> </p>                                                                 
        </form>
    </article>
</div> <!-- card.// -->
<script src="{%static 'js/register.js' %}"></script>
{% endblock %}