{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="card bg-light">
    <article class="card-body mx-auto" style="width: 500px;">
        <h2 class="card-title mt-3 text-center">Reset Password </h2>
        <p class="text-center">Enter Email Id to Reset Passowrd</p>
        
        <form method= "POST" action="{% url 'reset-password' %}">
            {% csrf_token %}
            {% include 'partials/_message.html' %}

            <!-- form-group-Email // -->
            <div class="form-group input-group"> 
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="email" class="form-control" placeholder="Email Address" id ="email" type="email" value = "{{values}}">
            </div> <!-- form-group-Email // -->

            
            <div class="invalid_emailFeedBack invalid-feedback" style="display: none;"> </div>
            <p class="text-sm text-success emailSuccessOutput"></p>


            <div class="form-group py-3">
                <input type="submit" value="Submit" class ="btn btn-block btn-primary submit-btn">
            </div> <!-- form-group-Submit-Button // --> 

            <p class="text-center">Have an account? <a href="{% url 'login' %}">Log In</a> </p>                                                                 
        </form>
    </article>
</div> <!-- card.// -->
<script src="{%static 'js/register.js' %}"></script>
{% endblock %}