{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="card bg-light">
    <article class="card-body mx-auto" style="width: 500px;">
        <h2 class="card-title mt-3 text-center">Reset Password</h2>
        <p class="text-center">Enter new Password</p>
        
        <form method= "POST" action="{% url 'reset-new-password' uidb64 token %}">
            {% csrf_token %}
            {% include 'partials/_message.html' %}

             <!-- form-group-Password // -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name = "password" id = "password" class="form-control" placeholder="Create password" type="password" >
            </div> <!-- form-group-Password // -->

             <!-- form-group-Password // -->
             <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name = "password2" id = "password2" class="form-control" placeholder="Confirm password" type="password" >
            </div> <!-- form-group-Password // -->

            <small class="float-right showPasswordToggle ">SHOW PASSWORD</small>

            <br>
            <div class="form-group py-3">
                <input type="submit" value="Reset" class ="btn btn-block btn-primary submit-btn">
            </div> <!-- form-group-Submit-Button // --> 

            <p class="text-center">Have an account? <a href="{% url 'login' %}">Log In</a> </p>                                                                 
        </form>
    </article>
</div> <!-- card.// -->
<script src="{%static 'js/register.js' %}"></script>
{% endblock %}